<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Angular Material - Starter App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
    <link rel="stylesheet" href="./node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="./assets/app.css"/>

  </head>

  <!-- Add UsersList controller -->
  <body ng-app="starterApp" layout="column" ng-controller="UserController as ul">

    <md-toolbar layout="row">
      <md-button class="menu">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>Dealer Tracker</h1>
    </md-toolbar>

    <div flex layout="row" style="height: 100%">
        <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">
          <md-list>
            <md-item ng-repeat="it in ul.users">
                <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
                  <md-icon md-svg-icon="svg-1" class="avatar"></md-icon>
                  {{it.name}}
                  <div class="proj-percent-complete" style="width: {{it.complete_percent}}%"></div>
                </md-button>
            </md-item>
          </md-list>
        </md-sidenav>

        <md-content flex id="content">
          <md-tabs md-dynamic-height>
            <md-tab label="Info">
              <md-content class="md-padding" layout="row">
                <div class="left" layout="column" flex="50" flex-sm="100">
                    <div class="heading" flex>
                      <md-icon md-svg-icon="svg-1" class="avatar"></md-icon>
                      <span class="md-display-1">{{ul.selected.name}}</span>
                    </div>
                    <section class="cust-card md-whiteframe-z1" flex="50" flex-sm="100" layout="column">
                        <md-toolbar class="md-primary" layout="row">
                            <h3>General info.</h3>
                        </md-toolbar>
                        <div class="info general-info">
                            <div class="milestones" layout="column" flex>
                                <md-list ng-repeat="it in ul.selected.milestones">
                                    {{it.name}}
                                </md-list>
                            </div>
                            <div class="dates" layout="row" flex>
                                <div class="left" layout="column" flex>
                                    <p> <span class=""> Trans Call Date </span>:
                                        <md-datepicker ng-model="ul.selected.trans_call"></md-datepicker>
                                    </p>
                                    <p> <span class=""> Original Go-Live Date </span>:
                                        <md-datepicker ng-model="ul.selected.original_golive"></md-datepicker>
                                    </p>
                                    <p> <span class=""> Updated Go-Live Date </span>:
                                        <md-datepicker ng-model="ul.selected.updated_golive"></md-datepicker>
                                    </p>
                                </div>
                                <div class="right" layout="column" flex="50">
                                    <h4 class="">Actual Go-Live Date</h4>
                                    <md-datepicker ng-model="ul.selected.actual_golive"></md-datepicker>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="cust-card md-whiteframe-z1" flex layout="column">
                        <md-toolbar class="md-primary" layout="row">
                            <h3>Location info.</h3>
                        </md-toolbar>
                        <div class="info location-info">
                          <span>{{ul.selected.dealer_city}}, {{ul.selected.dealer_state}} {{ul.selected.dealer_zip}}</span>
                        </div>
                    </section>
                    <section class="cust-card md-whiteframe-z1" flex layout="column">
                        <md-toolbar class="md-primary" layout="row">
                            <h3>The Team.</h3>
                        </md-toolbar>
                        <div class="info team-info">
                          <p> <span class="team-position">Builder</span>:
                              <a href="mailto:{{ul.selected.builder.email}}" alt="{{ul.selected.builder.email}}">
                                  {{ul.selected.builder.name}}
                              </a>
                          </p>
                          <p> <span class="team-position">Designer</span>:
                              <a href="mailto:{{ul.selected.writer.email}}" alt="{{ul.selected.writer.email}}">
                                  {{ul.selected.writer.name}}
                              </a>
                          </p>
                          <p> <span class="team-position">Content</span>:
                              <a href="mailto:{{ul.selected.designer.email}}" alt="{{ul.selected.designer.email}}">
                                  {{ul.selected.designer.name}}
                              </a>
                          </p>
                          <p> <span class="team-position">Data</span>:
                              <a href="mailto:{{ul.selected.dis.email}}" alt="{{ul.selected.dis.email}}">
                                  {{ul.selected.dis.name}}
                              </a>
                          </p>
                        </div>
                    </section>
                    <section class="cust-card md-whiteframe-z1" layout="column">
                        <md-toolbar class="md-primary" layout="row">
                            <h3>Contacts &amp; their info.</h3>
                        </md-toolbar>
                    </section>
                </div>
                <div class="right" flex="50" flex-sm="100">
                    <section class="cust-card md-whiteframe-z1" layout="column">
                        <md-toolbar class="md-primary" layout="row">
                            <h3>Tasks</h3>
                        </md-toolbar>
                        <div class="info">
                            <md-list>
                              <md-item ng-repeat="it in ul.selected.tasks">
                                  <div class="task" >
                                    <md-checkbox ng-if="!it.pendingValue" ng-model="it.completed" ng-change="toggleCompleteTask(it)" class="task-done">{{it.name}}</md-checkbox>
                                    <md-progress-circular ng-if="it.pendingValue === true" md-mode="indeterminate" md-diameter="40">{{it.name}}</md-progress-circular>
                                  </div>
                              </md-item>
                            </md-list>
                        </div>
                    </section>
                </div>
              </md-content>
              <!--
              $$hashKey: "object:48"
              Actual_Go_Live_Date__c: null
              Builder__c: "003j000000ZboNUAAZ"
              City__c: "Fort Worth"
              Content_Writer__c: "003j000000KNzCsAAL"
              Dealer_City_Location__c: "Fort Worth"
              Dealer_State_Location__c: "TX"
              Name: "Don Carro Website"
              Percent_Complete__c: 0
              Projected_Go_Live_Date__c: "2016-01-13"
              Trans_Call_Date__c: "2015-12-02"
              Zip__c: "76110"
              attributes: Object
              pse__Project_Status__c: null
              pse__Project_Type__c: "Customer"
              pse__Stage__c: "In Preparation" -->
            </md-tab>
            <md-tab label="Emails">
                <md-content class="md-padding">
                </md-content>
            </md-tab>
            <md-tab label="Q/A">
                <md-content class="md-padding">
                </md-content>
            </md-tab>
          </md-tabs>
        </md-content>

    </div>

    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/angular-animate/angular-animate.js"></script>
    <script src="./node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./node_modules/angular-material/angular-material.js"></script>

    <script src="./salesforce.js"></script>
    <!-- Load App Logic -->
    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/UserService.js"></script>

    <script type="text/javascript">


      angular
          .module('starterApp', ['ngMaterial', 'users'])
          .config(function( $mdIconProvider, $mdThemingProvider ){
              $mdThemingProvider.theme('default')
                .primaryPalette('blue', {
                    'default': '700'
                })
                .accentPalette('orange');
              // Register the user `avatar` icons
              $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu", "./assets/svg/menu.svg", 24)
                      .icon("share", "./assets/svg/share.svg", 24);


          })
          .run(function($log){
            $log.debug("starterApp + ngMaterial + 'users' + 'icon sets' running...");
            var tabs = document.getElementsByTagName("md-tab-content");
            var body = document.getElementsByTagName("body");
            for (tab in tabs) {
                console.log(tab);
            }

          });
    </script>

  </body>
</html>
