

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  transition: all 1s;
}

.page < .login-card {
    flex: 1;
}

.page-full {
    top: 0px;
    bottom: 0px;
}

.login-card {
    padding: 50px 150px;
}
