html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 94%;
  text-overflow: ellipsis;
  position: relative;
}

md-list .md-button.selected {
    color: #03a9f4;
}

md-list .md-button .proj-percent-complete {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(76, 197, 62, 0.2);
    width: 50%;
    height: 100%;
    z-index: -1;
}

md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
}

md-toolbar {
    background-color: #106CC8;
}

/* Primary content area */

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  overflow: hidden;
  height: 93%;
}

#content md-tab {
    height: 100%;
    overflow-y: auto;
}

#content .heading span {
    vertical-align: middle;
}

#content .seperator {
    background-color: rgb(63,81,181);
    color: rgba(255,255,255,0.87);
    text-align: center;
    font-size: 1.250em;
    font-weight: 400;
}

#content .cust-card {
    border-radius: 4px;
    margin-bottom: 16px;
    padding-bottom: 0;
    overflow: hidden;
    margin: 7px;
}

#content .cust-card md-toolbar {
    z-index: inherit;
    position: inherit;
}

#content .cust-card h3 {
    font-size: 20px;
    letter-spacing: .005em;
    font-weight: 400;
    margin-left: 10px;
}

#content .cust-card .info {
    padding: 10px 5px;
}

#content .cust-card  {
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}
