<div #page class="page" layout="column">
  <div class="login-card-container" layout-align="center center">
    <md-content class="login-card md-whiteframe-4dp" layout-align="center center">
      <div layout="column">
        <md-input-container class="md-block">
          <label>Username</label>
          <input type="text" md-input #username>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <input type="password" md-input #password>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Security Key</label>
          <input type="password" md-input #security_key>
        </md-input-container>
      </div>
      <div style="height: 100px;" layout="column" layout-align="center center">
        <md-checkbox #remember>
          Remember Me!
        </md-checkbox>
        <button md-raised-button
                class="md-raised md-primary"
                >
          Login</button>
        <!-- <md-progress-circular *ngIf="loggingIn" mode="indeterminate"></md-progress-circular>
        <i style="color: green" md-icon *ngIf="!loggingIn && builder_id">done</i> -->
      </div>
    </md-content>
  </div>
  <div class="main-page-container">
  </div>
</div>
<!-- JoWTE1qRQnh3cu9nQdfP8edGh -->
